{% extends 'markdown/index.md.j2' %}

{% block stream %}
````text
{{ output.text | strip_ansi }}
````
{% endblock stream %}

{% block data_text scoped %}
````text
{{ output.data['text/plain'] | strip_ansi }}
````
{% endblock data_text %}
